In [13]:
import pandas as pd 
from tqdm import tqdm 
import urllib
import os

FIPS_CSV_PATH = "us-state-ansi-fips.csv"
ALL_FIPS = "All_counties_code.csv"

data_path = "mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/"

fips_df = pd.read_csv(FIPS_CSV_PATH)
fips_df.head()

       stname   st  stusps
0     Alabama    1      AL
1      Alaska    2      AK
2     Arizona    4      AZ
3    Arkansas    5      AR
4  California    6      CA

In [14]:
FIPSCode_df = pd.read_csv(ALL_FIPS)

FIPSCode_df.head()

   fips            name state
0     0   UNITED STATES   NaN
1  1000         ALABAMA   NaN
2  1001  Autauga County    AL
3  1003  Baldwin County    AL
4  1005  Barbour County    AL

In [15]:
County = 'Texas'
county_info = fips_df.loc[fips_df['stname']==County]
data = county_info.values.tolist()[0]

print("County FIPS Code : ",data[1])
print("County Name Code : ",data[2].strip())

County FIPS Code :  48
County Name Code :  TX

## Populate all counties within State

In [16]:
fipss = list(map(lambda x: str(x),list(FIPSCode_df['fips'].loc[FIPSCode_df['state']==data[2].strip()])))
fipss = list(map(lambda x: "0{}".format(x) if len(x)==4 else x ,fipss))

print('FIPS found:',len(fipss))
print('FIPS found:',fipss)

FIPS found: 254
FIPS found: ['48001', '48003', '48005', '48007', '48009', '48011', '48013', '48015', '48017', '48019', '48021', '48023', '48025', '48027', '48029', '48031', '48033', '48035', '48037', '48039', '48041', '48043', '48045', '48047', '48049', '48051', '48053', '48055', '48057', '48059', '48061', '48063', '48065', '48067', '48069', '48071', '48073', '48075', '48077', '48079', '48081', '48083', '48085', '48087', '48089', '48091', '48093', '48095', '48097', '48099', '48101', '48103', '48105', '48107', '48109', '48111', '48113', '48115', '48117', '48119', '48121', '48123', '48125', '48127', '48129', '48131', '48133', '48135', '48137', '48139', '48141', '48143', '48145', '48147', '48149', '48151', '48153', '48155', '48157', '48159', '48161', '48163', '48165', '48167', '48169', '48171', '48173', '48175', '48177', '48179', '48181', '48183', '48185', '48187', '48189', '48191', '48193', '48195', '48197', '48199', '48201', '48203', '48205', '48207', '48209', '48211', '48213', '48215', '48217', '48219', '48221', '48223', '48225', '48227', '48229', '48231', '48233', '48235', '48237', '48239', '48241', '48243', '48245', '48247', '48249', '48251', '48253', '48255', '48257', '48259', '48261', '48263', '48265', '48267', '48269', '48271', '48273', '48275', '48277', '48279', '48281', '48283', '48285', '48287', '48289', '48291', '48293', '48295', '48297', '48299', '48301', '48303', '48305', '48307', '48309', '48311', '48313', '48315', '48317', '48319', '48321', '48323', '48325', '48327', '48329', '48331', '48333', '48335', '48337', '48339', '48341', '48343', '48345', '48347', '48349', '48351', '48353', '48355', '48357', '48359', '48361', '48363', '48365', '48367', '48369', '48371', '48373', '48375', '48377', '48379', '48381', '48383', '48385', '48387', '48389', '48391', '48393', '48395', '48397', '48399', '48401', '48403', '48405', '48407', '48409', '48411', '48413', '48415', '48417', '48419', '48421', '48423', '48425', '48427', '48429', '48431', '48433', '48435', '48437', '48439', '48441', '48443', '48445', '48447', '48449', '48451', '48453', '48455', '48457', '48459', '48461', '48463', '48465', '48467', '48469', '48471', '48473', '48475', '48477', '48479', '48481', '48483', '48485', '48487', '48489', '48491', '48493', '48495', '48497', '48499', '48501', '48503', '48505', '48507']

In [17]:
errors = set()
out_path = f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/"

for fips in tqdm(fipss,total=len(fipss)):    
    if not os.path.isfile(os.path.join(out_path,f"Parcels_{fips}.zip")):
        try:
            urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/July%202018/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
        except:
            try:
                urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/April%202018/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
            except:
                try:

                    urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/Jan%202018/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
                except:
                    try:
                        urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/Oct%202017/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
                    except:
                        try:
                            urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/July%202017/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
                        except:
                            try:
                                urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/April%202017/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
                            except:
                                try:
                                    urllib.request.urlretrieve(f"https://sts-rescat-prod.s3-eu-west-1.amazonaws.com/Rescat/Global/Active/USA_Nation/USA000003213/AUTHORIZED%20USERS%20ONLY/Jan%202017/Parcels_{fips}.zip", f"/mnt/c/Users/tandon/OneDrive - TomTom/Desktop/tomtom/Workspace/01_Rooftop_accuracy/APT-Realignment/data/{County}/parcels/Parcels_{fips}.zip")
                                except:
                                    print("No information for :",fips)
                                    errors.add(fips)
                                    continue

  9%|▉         | 23/254 [1:01:20<16:02:45, 250.07s/it]

No information for : 48045

 12%|█▏        | 30/254 [1:01:49<2:54:09, 46.65s/it]

No information for : 48059

 14%|█▍        | 35/254 [2:04:50<59:56:01, 985.21s/it]

No information for : 48069

 15%|█▌        | 39/254 [2:05:49<16:04:46, 269.24s/it]

No information for : 48077

 17%|█▋        | 42/254 [2:06:09<5:49:14, 98.84s/it]

No information for : 48083

 20%|██        | 51/254 [2:08:37<55:19, 16.35s/it]

No information for : 48101

 25%|██▍       | 63/254 [2:18:02<5:04:20, 95.61s/it]

No information for : 48125

 32%|███▏      | 82/254 [2:39:48<1:01:14, 21.36s/it]

No information for : 48163

 38%|███▊      | 96/254 [2:41:13<14:51,  5.64s/it]

No information for : 48191

 39%|███▉      | 99/254 [2:41:31<15:27,  5.99s/it]

No information for : 48197

 42%|████▏     | 106/254 [2:46:13<41:09, 16.68s/it]

No information for : 48211

 42%|████▏     | 107/254 [2:46:43<48:57, 19.98s/it]